/* board */
.board{
  height: 100px;
  background-color: #2869cc;
  padding: 10px;
  color: white;
  border-radius: 5px;
  opacity: 0.60;
}
.board:hover{
  background-color: #163a70;
}
/* caja de crear new board */
.newBoard{
  padding: 5px; 
  margin: 20px;
  width: 270px;
  height: 110px;
  border-radius: 4px;
  color: #777;
  background-color: #E2E4E6;
  display: inline-block;
}
.save{
  margin: 10px;
}
.remove{
  margin: 10px;
}
.InpuTitle{
  width: 250px;
}
.title{
  color: #151414;
  width: 250px;
  height: 35px;
  display: block;
  border-radius: 4px;
  border: 1px solid;
  border-color: #AAAAAA;
  background-color: #CCCDCF;
  padding: 5px 0px 10px 10px;
  margin: 5px;
}
.board-wrap{
  padding:10px;
}
.myBoards{
  color: white;
  margin: 30px;
}